<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="learn.UserMapper">

  <select id="selectUser"  parameterType="String" resultType="learn.User">
    select * from u_user where usercode = #{id}
  </select>

</mapper>
