<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2019 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <!--环境配置，连接的数据库，这里使用的是MySQL-->
  <settings>
   <!-- <setting name="cacheEnabled" value="false"/>-->
    <setting name="logImpl" value="STDOUT_LOGGING" />
  </settings>
  <plugins>
    <plugin interceptor="learn.interceptors.ExecutorQueryInterceptor"></plugin>
    <plugin interceptor="learn.interceptors.ExecutorQueryInterceptorFor4params"></plugin>
    <plugin interceptor="learn.interceptors.ExamplePlugin"></plugin>
  </plugins>
  <environments default="mysql">
    <environment id="mysql">
      <!--指定事务管理的类型，这里简单使用Java的JDBC的提交和回滚设置-->
      <transactionManager type="JDBC"></transactionManager>
      <!--dataSource 指连接源配置，POOLED是JDBC连接对象的数据源连接池的实现-->
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/test?characterEncoding=utf-8"></property>
        <property name="username" value="zhangzx"></property>
        <property name="password" value="123"></property>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <!--这是告诉Mybatis区哪找持久化类的映射文件，对于在src下的文件直接写文件名，
        如果在某包下，则要写明路径,如：com/mybatistest/config/User.xml-->
    <mapper resource="userMapper.xml"></mapper>
    <mapper resource="userUpdateMapper.xml"></mapper>
   <!-- <package name="learn"/>-->
  </mappers>
</configuration>
