<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2019 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="learn.UserMapper"><cache/>

  <select id="selectUser"  parameterType="String" resultType="learn.User">
    select * from u_user where usercode = #{id}
  </select>


  <select id="selectUserByIdAndName"  parameterType="String" resultType="learn.User">
    select * from u_user where usercode = #{param1} and username = #{param2}
  </select>

  <select id="selectUserByArgs"  parameterType="String" resultType="learn.User">
    select * from u_user where usercode = #{arg0} and username = #{arg1}
  </select>

  <update id="updateName"  parameterType="String" >
    update u_user set username = #{name} where usercode= #{id}
  </update>

  <insert id="insert" parameterType="learn.User">
    insert into u_user(usercode,username,createtime,usertype,mobile) values (#{userCode},#{userName}
    ,#{createTime},#{userType},#{mobile});
  </insert>

  <insert id="batchInsert" parameterType="learn.User">
    insert into u_user(usercode,username,createtime,usertype,mobile)
    values
    <foreach collection="list" item="user" separator=",">
      (#{user.userCode},#{user.userName}
      ,#{user.createTime},#{user.userType},#{user.mobile})
    </foreach>

  </insert>

  <select id="selectUserByIdFromTable"  parameterType="String" resultType="learn.User">
    select * from ${tableName} where usercode = #{id}
  </select>

</mapper>
